.list {
  border: 1px solid white;
  min-width: auto;
  max-height: 150px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.list:hover {
  background-color: #fff4e6;
}
.list img {
  width: 100%;
  max-height: 100px;
  object-fit: cover; /* Resmi kapsayıcı divin boyutlarına uyacak şekilde kırp */
  object-position: center; /* Resmi ortalar */
  border-radius: 15px;
}
.container {
  text-align: center;
}
.polaroid {
  border: 1px solid white;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0%;
  border-radius: 15px;
}
